ansible-core==2.16.1
ansible-lint==6.15.0
ansible-runner==2.3.4

# Required for community.general.gitlab_*
python_gitlab==3.14.0
# community.postgresql
psycopg2==2.9.9
# community.mysql
PyMySQL==1.1.0

dnspython